@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table id="table" class="table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Id</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < 5; i++) {
            <tr>
                <td>@i</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $('#table').dataTable();
    </script>
}
